{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<h1>Categories</h1>

<form action="{% url 'category' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for=" category">Categories</label>
        <select name="category" id="category" class="form-control">
            {% for category in listings %}
                <option value="{{ category.category }}">{{ category.category }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}