{% extends "auctions/index.html" %}
{% load static %}

{% block body %}
{% for listing in listings %}
<h1>Category : {{category}}</h1>
<div class="col-md-4">
    <div class="thumbnail">
        <img src="{{listing.image.url}}" alt="{{listing.title}}">
        <div class="caption">
            <h4>{{listing.name}}</h4>
            <p>{{listing.details}}</p>
                <a href="{% url 'bid' listing.id %}" class="btn btn-primary" role="button">View</a>
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}